
a:hover{
    text-decoration: none !important;
}

.body-bg-custom{
    /* background-image: url(../img/Bokeh-on-Blue.jpg); */
    position: absolute;
    width: 100%;
    /* height: 100%; */
    /*background-image: url(combined-and-fonts.min.css);*/
    background-repeat: repeat-y;
    background-size: cover;
    /* background-position: 50% 50%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    color: white;
    background-color: #506dad;
    padding: 20px;
}

/* .body-bg-custom > div > div {
    border-right: 1px solid white;
} */

.bg-main-color{
    background-color: #506dad;
}

.com-name{
    color: white !important;
    text-transform: uppercase;
    text-align: center;
    margin-top: -20px;
    font-size: 30px !important;
    width: 100%;
}

.title-nav{
    color: white !important;
    text-transform: uppercase;
}

.title-nav:hover{
    text-decoration: underline !important;
    opacity: 0.5;
}

.user-info{
    /* color: white; */
    display: flex;
}
.user-info .nav-link{
    color: white !important;
    display: flex;
    padding: 0px;
}

.com-name-login{
    text-transform: uppercase;
    font-weight: 500;
    font-size: x-large;
}

td {
    text-wrap: wrap;
    max-width: 200px;
    overflow-wrap: anywhere;
}

table input {
    width: 30px;
    height: 30px;
}

table input {
    width: 30px;
    height: 30px;
}

table{
    color: white !important;
}

.modal{
    color: black;
}

.nav-link.active.title-nav.selected{
    opacity: 0.5;
    text-decoration: underline;
}

.left-arrow-style{
    position: absolute;
    right: 10px;
}

#main_menu_nav{
    border-radius: 0.25rem;
    border-radius: 0.25rem;
    /* min-height: 50vh; */
    background-color: #fff;
}
.list-group-item:hover{
    background-color: #123;
}
.list-group-item:hover > a{
    color:#fff !important;
}

.has-child{
    position: relative;
}
.has-child:hover .ul-parent{
    display: block !important;
}

.ul-parent{
    position: absolute;
    display: none !important;
    left: 100%;
    top: 0%;
    z-index: 99;
    width: 200px;
}

@media only screen and (max-width: 600px) {
    .com-name{
        border-bottom: solid 1px white;
        padding-bottom: 10px;
    }
    
    .title-nav{
        border-bottom: solid 1px white;
        padding-bottom: 10px;
    }
    
}