<!doctype html>
<html lang="en">

<head>
    <title>Tool</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom">
    <div class="col-12 d-flex">
        <div class="col-3">
            <a class="navbar-brand com-name" href="/home/notice">ncnmediacontent</a>
            <div id="main_menu_nav">
                <ul id="main_menu" class="list-group">
                    <li class="list-group-item"><a>Item</a>
                        <ul class="list-group">
                            <li class="list-group-item active">Active item</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="col-12 d-flex flex-column">
                <div class="form-group w-100">
                    <label for="char_">Ký tự phân chia</label>
                    <input type="text" class="form-control" name="char_" id="char_" value="|" aria-describedby="helpId"
                        placeholder="|">
                </div>
                <div class="form-group w-100">
                    <label for="index_">Lấy cột số (lấy nhiều cột cách nhau dấu phẩy ví dụ 1,4)</label>
                    <input type="text" class="form-control" name="index_" id="index_" value="1" aria-describedby="helpId"
                        placeholder="1">
                </div>
                <div class="form-group w-100">
                    <label for="text_">Đoạn text cần lấy</label>
                    <textarea class="form-control" name="text_" id="text_" rows="3"></textarea>
                </div>
                <button type="button" onclick="go_()" class="btn btn-primary">Lọc</button>
            </div>
            <div class="col-12">
                <div class="form-group w-100">
                    <label for="tb_">Kết quả</label>
                    <textarea class="form-control" name="tb_" id="tb_" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/filter_str.js"></script>
    <script src="../js/permission.js"></script>
</body>

</html>