<!doctype html>
<html lang="en">

<head>
    <title>User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom">
    <div class="col-12 d-flex">
        <div class="col-3">
            <a class="navbar-brand com-name" href="/home/notice">ncnmedia</a>
            <div id="main_menu_nav">
                <ul id="main_menu" class="list-group">
                    <li class="list-group-item"><a>Item</a>
                        <ul class="list-group">
                            <li class="list-group-item active">Active item</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="col-12">
                <div class="container">
                    <div class="col-12 pt-5 pb-2">
                        <!-- <button onclick="open_modal(0)" class="btn btn-primary">Tạo mới</button> -->
                    </div>
                    <div class="col-12">
                        <table id="table_data" class="tablemanager table table-striped table-bordered table-sm"
                            cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>stt</th>
                                    <th>Tên tool</th>
                                    <!-- <th>Trạng thái</th> -->
                                    <th class="disableFilterBy">Tải về</th>
                                </tr>
                            </thead>
                            <tbody id="data_tb">
                                <tr>
                                    <td>1</td>
                                    <td>Tool quản lý và tương tác fb</td>
                                    <td><a class="btn btn-primary" target="_blank"
                                            href="https://drive.google.com/file/d/1o0lFE_yN_KeycGCzQ_Se2HShW3d7OYVx/view">
                                            1.0 </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/tool_manager.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

<script>
    init_page();
    async function init_page() {
        var place = document.getElementById('data_tb');
        place.innerHTML = '';
        var data = await tool_get_all();
        if (data) {
            Array.from(data).forEach(f => {
                place.innerHTML += ` <tr>
                    <td>${Array.from(data).indexOf(f) + 1}</td>
                    <td>${f.name}</td>
                    <td><a class="btn btn-primary" target="_blank" href="${f.link}"> Download </a></td>
                    </tr>`
            });
        }
    }
</script>

</html>